@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*velcro.css*/

/*basic*/
html{
	font-size: 16px;
}
*{
	font-family: 'Montserrat';
}
h1,h2,h3,h4,h5,h6{
	font-size: 2rem;
	font-weight: 700;
	padding: 0.5rem;
}
p{
	line-height: 2rem;
	padding: 0 2rem;
}
ul, ol{
	line-height: 1.5rem;
}
li{
	padding: 0.5rem;
	letter-spacing: 0.1em;
}
a{
	color: black;
}

/*style*/
.space{
	margin: 1em;
}
.border{
	border: 1px solid black;
}

/*font*/
.xl{
	font-size: 2rem;
}
.large{
	font-size: 1.5rem;
}
.normal{
	font-weight: 400;
}
.small{
	font-size: 0.7rem;
}
.bold{
	font-weight: 700;
}

/*objects*/
header{
	background-color: lightgray;
	padding: 2rem;
	text-align: center;
}
header p{
	padding: 2rem 10rem;
}

/*frames*/
.frame-large{
	max-width: 80%;
	margin: auto;
}
.frame-medium{
	max-width: 60%;
	margin: auto;
}
.frame-small{
	max-width: 40%;
	margin: auto;
}
.wide{
	width: 100%;
}

/*position*/
.sticky{
	position: fixed;
}
.top{
	top: 0;
}
.left{
	left: 0;
}
.bottom{
	bottom: 0;
}
.right{
	right: 0;
}

/*text color*/
.text-white{
	color: white;
}
.text-light{
	color: lightgray;
}
.text-gray{
	color: gray;
}
.text-grey{
	color: gray;
}
.text-red{
	color: red;
}
.text-blue{
	color: blue;
}
.text-green{
	color: green;
}
.text-yellow{
	color: yellow;
}
.text-black{
	color: black;
}

/*background color*/
.bg-white{
	background-color: white;
}
.bg-light{
	background-color: lightgray;
}
.bg-gray{
	background-color: gray;
}
.bg-grey{
	background-color: gray;
}
.bg-blue{
	background-color: blue;
}
.bg-red{
	background-color: red;
}
.bg-green{
	background-color: green;
}
.bg-yellow{
	background-color: yellow;
}
.bg-black{
	background-color: black;
}

/*grid*/
.grid-container{
	flex:1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
}
.grid-row{
	display: flex;
	flex-wrap: wrap;
}
.grid-col{
	display: flex;
	flex-direction: column;
}
.grid-box-1{
	flex:1;
	display: flex;
}
.grid-box-2{
	flex:2;
	display: flex;
}
.grid-box-3{
	flex:3;
	display: flex;
}
.grid-box-4{
	flex:4;
	display: flex;
}
.grid-box-5{
	flex:5;
	display: flex;
}
.grid-box-6{
	flex:6;
	display: flex;
}
.grid-box-7{
	flex:7;
	display: flex;
}
.grid-box-8{
	flex:8;
	display: flex;
}
.grid-box-9{
	flex:9;
	display: flex;
}
.grid-box-10{
	flex:10;
	display: flex;
}
.grid-box-11{
	flex:11;
	display: flex;
}
.grid-box-12{
	flex:12;
	display: flex;
}

/*buttons*/
.button{
	border-color: gray;
	padding: 0.5rem;
	outline: none;
	margin: 0.5rem;
	box-shadow: 3px 3px 10px black;
	background-color: forestgreen;
	color: white;
	border-radius: 10px;
	font-size: 1rem;
}
.confirm{
	background-color: darkblue;
	color: white;
}
.alert{
	background-color: red;
}
.button:hover{
	cursor: pointer;
}

/*images*/
.thumb{
	height: 100px;
	border-radius: 10px;
	padding: 0.2rem;
	background-color: gray;
	box-shadow: 5px 5px 20px black;
}

/*forms*/
.contact{
	display: flex;
	flex-direction: column;
	margin: 1rem;
	padding: 1rem;
	border-radius: 10px;
	box-shadow: 5px 5px 20px black;
	border: 1px solid gray;
	background-color: lightgray;
}
.contact div{
	margin: 0.5rem;
	flex:1;
}
.contact input{
	display: block;
	width: 100%;
}
.contact textarea{
	display: block;
	width: 100%;
	height: 5rem;
}
.contact input[type="submit"]{
	width: 40%;
}
.contact input[type="submit"]:hover{
	cursor: pointer;
}

/*tables*/
table{
	border: 1px solid gray;
	margin: 1rem;
	padding: 1rem;
	box-shadow: 5px 5px 20px black;
	background-color: lightgray;
}
tr{
	padding: 1rem;
	border-bottom: 1px solid black;
}
th{
	padding: 1rem;
	border-right: 1px solid black;
}
td{
	padding: 1rem;
	border-right: 1px solid black;
}
tr:last-of-type, td:last-of-type, th:last-of-type{
	border: none;
}
table tr:nth-child(even){
	background-color: darkgray;
}

/*navbar*/
nav{
	display: flex;
	width: 100%;
	align-items: center;
}
.nav-menu{
	flex:1;
	display: flex;
	justify-content: space-between;
}
.logo{
	padding: 0.5rem 1rem;
}
.logo img{
	height: 50px;
}
.logo img:hover{
	outline: 1px solid white;
}
.nav-left{
	display: flex;
}
.nav-right{
	display: flex;
}
.nav-menu li{
	flex:1;
	display: flex;
	padding: 0;
	letter-spacing: 0;
}
nav a{
	flex:1;
	padding: 1rem;
	text-decoration: none;
}
nav a:hover{
	color: white;
}
.dropdown{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.dropdown ul{
	display: none;
	flex-direction: column;
	width: 100%;
	align-items: center;
}
.dropdown:hover ul{
	display: flex;
	position: absolute;
	top: 50px;
}
footer{
	width: 100%;
	min-height: 50px;
	margin-top: 2rem;
}
