*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	background-color: burlywood;
}
/*searchbar*/
.search{
	margin: 1em;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
input{
	padding: 0.5em;
	margin: 0.5em;
}
/*main food panel*/
.itemContainer{
	width: 30%;
	margin: auto;
	padding-bottom: 1em;
	background-color: #fff1df;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 10px;
}
/*food info panel in main*/
.itemInfo{
	display: flex;
	align-items: center;
	justify-content: center;
}
.itemImage{
	background-position: center;
	background-repeat: no-repeat;
	height: 150px;
	width: 150px;
}
/*panels inside iteminfo*/
.itemDetailsPanel{
	display: none;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 1em;
}
/*individual item details*/
.itemDetails{
	margin: 0.3em 0;
	font-family: monospace;
}
#saveButton{
	visibility: hidden;
}
/*info about recipe*/
.recipeContainer{
	width: 40%;
	margin: auto;
	padding: 1em;
	background-color: #fff1df;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 10px;
}
.recipeInfo{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1em 0;
}
.recipeDetailsPanel{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 1em;
}
/*individual item details*/
.recipeDetails{
	margin: 0.3em 0;
	font-family: monospace;
}
.recipeButtons{
	display: flex;
	align-items: center;
	justify-content: center;
}
#deleteRecipe{
	background-color: red;
}
/*overlay*/
.searchFail, .saved{
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.8);
	color: white;
}
/*bottom of page bar*/
.menuBar{
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	left: 0;
	bottom: 0;
	padding: 1em;
	background-color: #de9f87
}
/*current recipe name*/
.menuBar p{
	padding-right: 3em;
}
/*recipe book*/
.recipeBookPanel{
	display: none;
	max-width: 50%;
	margin: auto;
	background-color: #fff1df;
	padding: 1em;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 10px;
}
/*box inside recipe book*/
.recipe{
	border: 1px solid black;
	height: 100px;
	width: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	background-color: #dec887;
	margin: 0.5em;
}
.recipe:Hover{
	cursor: pointer;
	border-radius: 10px;
}
input:hover{
	cursor: pointer;
	border:1px solid black;
}
