*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: gray;
}
.container{
	width: 60%;
	border: 5px solid black;
	outline: 1px solid white;
	line-height: 1.5em;
	background-color: white;
	margin: 10% auto;
	box-shadow: 3px 3px 10px black;
}
h1{
	color: white;
	text-shadow: -2px -2px 0px black, 2px 2px 0px black, 0px 0px 0px black;
	position: relative;
	top: -25px;
	font-size: 2.5em;
	font-family: sans-serif;
}
p{
	padding: 0 2em;
}
.inputSection{
	padding: 0 5em;
	display: flex;
	flex-direction: column;
	align-items:flex-end;
}
.inputSection div{
	flex:1;
	margin:0.3em;
	width: 300px;
}
.imageContainer{
	margin: 0.5em;
	height: 150px;
	width: 150px;
}
img{
	height: 100%;
	box-shadow: 3px 3px 10px  black;
}
.bottomHalf{
	display: flex;
	justify-content: space-between;
}
#storageWarning{
	visibility: hidden;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	max-height: 100px;
	max-width: 300px;
	background-color: orange;
}
#storageWarning p{
	margin: 0;
	padding: 0 0 0 5px;;
}
